<% if @code %>
  <table class="table table-bordered">
    <tr><td> Greatest common factor </td>
    <td> Least common multiple </td></tr>
    <tr><td> <%= @resultgcf %></td>
    <td> <%= @resultlcm %></td></tr>
    <tr><td colspan="2">Iterations</td></tr>
    <tr><td> First number </td>
    <td> Second number </td></tr>
    <% i = 0 %>
    <% @stepsf.size.times do |i| %>
      <tr><td><%= @stepsf[i] %></td>
      <td><%= @stepss[i] %></td></tr>
      <% i += 1 %>
    <% end %>
  </table>
<% else %>
  <p class="error">Incorrect data</p>
<% end %>
<%= form_tag("/euclid/index", :method => "get") do %>
  <%= submit_tag("Return to start page", class: "btn btn-outline-dark output") %>
<% end %>
