<header id="header_nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">TODO</a>
    <a class="nav-link" href="#">Что это?</a>
    <a class="nav-link" href="">Все пользователи</a>
    <p class="navbar-text" id="notice"><%= notice %></p>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= user_path(current_user) %>">Информация</a>
          <a class="dropdown-item" href="<%= edit_user_path(current_user) %>">Редактировать</a>
          <a class="dropdown-item" href="<%= login_path %>">Выйти</a>
        </div>
      </div>
  </nav>
</header>