<%= render 'head' %>
<div id="main_content">
  <div class="card del_all">
    <%= button_to "Очистить корзину", del_all_path, remote: true, data: { confirm: 'Вы точно хотите очистить корзину?' }, class: "btn col-12" %>
  </div>
  <div class="row">
    <div class="col-4" id="in_plans">
      <div class="card"><p class="group_title">Было в планах</p></div>
      <% @card_plans.each do |card| %>
        <div class="card card-task" id="card_<%= card.id %>">
          <div class="card-body">
            <h4 class="card-title trash_can_title"><%= card.title %></h4>
          </div>
          <div class="row card_row">
            <div class="col-6 del_forever card_menu_elem trash_can_menu">
              <%= link_to image_tag(image_path('close.svg'), class: "img_mini"), del_path(params: { id: card.id }), remote: true %>
            </div>
            <div class="col-6 trash_can_menu card_menu_elem">
              <%= link_to image_tag(image_path('reply.svg'), class: "img_mini"), trash_path(params: { id: card.id }), remote: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4" id="in_work">
      <div class="card"><p class="group_title">Было в работе</p></div>
      <% @card_in_work.each do |card| %>
        <div class="card card-task" id="card_<%= card.id %>">
          <div class="card-body">
            <h4 class="card-title trash_can_title"><%= card.title %></h4>
          </div>
          <div class="row card_row">
            <div class="col-6 del_forever card_menu_elem trash_can_menu">
              <%= link_to image_tag(image_path('close.svg'), class: "img_mini"), del_path(params: { id: card.id }), remote: true %>
            </div>
            <div class="col-6 trash_can_menu card_menu_elem">
              <%= link_to image_tag(image_path('reply.svg'), class: "img_mini"), trash_path(params: { id: card.id }), remote: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4" id="done">
      <div class="card"><p class="group_title">Было выполнено</p></div>
      <% @card_done.each do |card| %>
        <div class="card card-task" id="card_<%= card.id %>">
          <div class="card-body">
            <h4 class="card-title trash_can_title"><%= card.title %></h4>
          </div>
          <div class="row card_row">
            <div class="col-6 del_forever card_menu_elem trash_can_menu">
              <%= link_to image_tag(image_path('close.svg'), class: "img_mini"), del_path(params: { id: card.id }), remote: true %>
            </div>
            <div class="col-6 trash_can_menu card_menu_elem">
              <%= link_to image_tag(image_path('reply.svg'), class: "img_mini"), trash_path(params: { id: card.id }), remote: true %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>