<%= render 'todoer/head' %>

<%= form_with(model: @user, local: true, html: { class: "reg_form", autocomplete: "off" }) do |form| %>
  <div class="error_div edit_error">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>Не удалось обновить данные</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <% case message %>
          <% when "Password can't be blank" %>
              <% message = "Введите пароль" %>
            <% when "Name can't be blank" %>
              <% message = "Введите имя" %>
            <% when "Email is invalid" %>
              <% message = "Введите корректный адрес электронной почты" %>
            <% when "Password confirmation doesn't match Password" %>
              <% message = "Пароли не совпадают" %>
            <% when "Email has already been taken" %>
              <% message = "Указанный адрес электронной почты уже зарегистрирован" %>
            <% when "Password is too short (minimum is 8 characters)" %>
              <% message = "Пароль не может быть короче 8 символов" %>
            <% else %>
              <% message = nil %>
            <% end %>
            <% if message %>
              <li><%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="get_info_div edit_user_info_div">
    <p id="notice"><%= notice %></p>
    <div class="field">
      <%#= form.label :name %>
      <%= form.text_field :name, placeholder: "Имя", class: "edit_input" %>
    </div>

    <div class="field">
      <%#= form.label :email %>
      <%= form.text_field :email, placeholder: "Электронная почта", class: "edit_input" %>
    </div>

    <div class="field">
      <%#= form.label :password %>
      <%= form.password_field :password, placeholder: "Пароль", class: "edit_input" %>
    </div>

    <div class="field">
      <%#= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, placeholder: "Повторите пароль", class: "edit_input" %>
    </div>

    <div class="field">
      <%= form.file_field :avatar %>
    </div>

    <div class="actions">
      <%= form.submit "Обновить данные" %>
    </div>
<% end %>
<div id="space"></div>
<%= link_to 'Удалить аккаунт', user_path(current_user), method: :delete, data: { confirm: 'Вы точно хотите удалить свой аккаунт?' } %>

</div>
