<%= render 'todoer/head' %>

<!--<p id="notice"><%#= notice %></p>-->
<div class="card container" id="user_info">
  <table class="table table-borderless" id="info_table">
    <tr>
      <% if @user.avatar.file.nil? %>
        <td rowspan="4" id="avatar_store"><img id="avatar" src="<%= image_path('none.jpg') %>"></td>
      <% else %>
        <td rowspan="4" id="avatar_store"><%= image_tag @user.avatar.url, id: "avatar" %></td>
      <% end %>
      <td class="caption">Имя:</td>
    </tr>
    <tr>
      <td class="value"><%= @user.name %></td>
    </tr>
    <tr>
      <td class="caption">Электронная почта:</td>
    </tr>
    <tr>
      <td class="value"><%= @user.email %></td>
    </tr>
  </table>
</div>

<!--<%#= link_to 'Edit', edit_user_path(@user) %> |-->
<%#= link_to 'Back', root_path %>
